<div class="section-outter">
    <div class="section-wrapper">

        <div class="col-md-9">
         <% if @results %>
            <h1><%= @first_result.title %></h1>
            <div class="vid-container">

            <iframe width="853" height="480"
            src="//<%= @first_result.embed_url %>"
            frameborder="0" allowfullscreen id="vid_frame">
            </iframe>
            </div>
            <div id="results">
                <div class="section-inner">

                        <% @alternatives.each do |result| %>
                        <div class="vid-item" data-embed_url="<%=result.embed_url%>">
                            <div class="thumb">
                <img src="<%= result.thumbnail %>"
                        </div>
                        <div class="truncate"><%= result.title %></div>
                        </div>
                        </div>
                        <% end %>

                </div>
            </div><!--results-->
            <% end %>
         </div><!--col-md-9-->
        <%= render "playlist_panel"%>

        <div class="col-md-3">
            <%= render "form" %>
        </div>
    </div><!--section-wrapper-->
</div><!--section-outer-->
