<div class="section-outer">
    <div class="section-wrapper">

        <div class="col-md-9">
         <% if @results %>
            <h1><%= @first_result.title %></h1>
            <div class="vid-container">
                <iframe id="vid_frame" width="853" height="480" src="//<%= @first_result.embed_url %>" frameborder="0" allowfullscreen>
                </iframe>
            </div>
            <div id="results">
                <div class="section-inner">
                    <% @alternatives.each_with_index do |result, index| %>
                        <div class="vid-item" data-embed_url="<%=result.embed_url%>">
                            <div class="thumb">
                                <img src="<%= result.thumbnail %>">
                            </div>
                            <div class="desc truncate">
                                <%= result.title %>
                            </div>
                        </div>
                        <% end %>

                </div><!--section-inner-->
            </div><!--results-->
            <% end %>
         </div><!--col-md-9-->
        <div class="col-md-3">
            <%= render "form" %>
        </div>
    </div><!--section-wrapper-->
  <%= render "playlist_panel"%>
</div><!--section-outer-->

